---
import "@/styles/globals.css";
import MainLayout from "../layouts/MainLayout.astro";
import NewsCard from "../components/NewsCard";
interface Frontmatter {
  title: string;
  description: string;
  pubDate: string;
}

interface News {
  path: string;
  frontmatter: Frontmatter;
}

const allNews: News[] = await Promise.all(
  Object.entries(import.meta.glob("./news/*.md")).map(async ([path, resolver]) => {
    const { frontmatter } = await resolver() as { frontmatter: Frontmatter };
    return { path, frontmatter };
  })
);

allNews.sort(
  (a, b) =>
    Date.parse(b.frontmatter.pubDate) - Date.parse(a.frontmatter.pubDate)
);
const pageTitle = "The News";
const description = "The latest news about technology and my personal life";
---

<MainLayout pageTitle={pageTitle} description={description}>
  <main>
    <h1
      class="text-center scroll-m-20 text-4xl tracking-tight md:text-5xl mb-6 mt-2"
    >
      Recent Posts
    </h1>
    <ul
      class="grid gap-8 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3 2xl:grid-cols-4 justify-items-center"
    >
      {
        allNews.map((news) => (
          <NewsCard
            url={news.path.replace("./news", "/news").replace(".md", "")}
            title={news.frontmatter.title}
            description={news.frontmatter.description}
            date={news.frontmatter.pubDate}
          />
        ))
      }
    </ul>
  </main>
</MainLayout>
